{#
/**
 * 元素为：element
 * -element.yunkeCaptcha:验证码输入控件
 * -element.yunkeCaptchaPageID：页面id输入控件
 */
#}


<div {{ attributes }}>
    {{ element.yunkeCaptcha }}
    {{ element.yunkeCaptchaPageID }}
</div>